.header {
  padding: 30px;
  display: flex;
  vertical-align: center;
  align-content: center;
  justify-content: center;
  height: 90px;
  background: #BFBCBC;
  margin-left: auto;
  margin-right: auto;
}

.cd-img {
  display: flex;
  height: 100px;
  width: 100px;
  animation: flip 2s infinite steps(3);
}

@keyframes flip {
  0% {

  }
  50% {
    transform: rotateY(360deg);
  }
}

.banner-title h1 {
  margin-top: 5px !important;
  text-transform: uppercase;
  background: linear-gradient(#6cad33, #437425);
  -webkit-text-stroke: .5px yellow;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 76px;
  font-family: "Poppins", sans-serif;
  margin-left: 100px;
  margin-right: 100px;
}

.sidebar {
  width: 300px;
}

.sidebar .sidebar-side-logo {
  height: 300px;
  background: #41E01F;
}

.sidebar .sidebar-side-logo-text-shiny {
  text-align: center;
  font-size: 35px;
  padding: 10px 0;
  letter-spacing: 10px;
}

@keyframes gray-green {
  0% {
    color: #BFBCBC;
  }
  50% {
    color: #41E01F;
  }
}

.animated-chinese-sidebar-text {
  animation: change-color-sidebar 1s infinite steps(1); /* IE 10+ */
}

.animated-chinese-sidebar-text-invert {
  animation: change-color-sidebar-invert 1s infinite steps(1); /* IE 10+ */
}

@keyframes change-color-sidebar {
  0% {
    background: #41E01F;
    color: #AE26A9;
  }
  50% {
    background: #AE26A9;
    color: #41E01F;
  }
}

@keyframes change-color-sidebar-invert {
  0% {
    background: #AE26A9;
    color: #41E01F;
  }
  50% {
    background: #41E01F;
    color: #AE26A9;
  }
}

.sidebar .sidebar-side-logo-text {
  height: 100px;
  background: #C3D226;
}

main {
  border-top: 5px solid #B38756;
  display: flex;
  justify-content: center;
  align-content: center;
}

.main-content {
  background: #BFBCBC;
  width: 100%;
}

.main-content-children {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: inset 0px 0px 15px 15px #BFBCBC;
  background: #278C5E;
  width: 100%;
  height: 446px;
}

.live-count-container {
  margin-top: -20px;
  text-align: center;
  font-weight: 600;
  padding: 10px;
  color: #AE26A9;
  background: #231E1F;
}

.count {
  background: #484542;
  color: #fff;
  padding: 3px;
  letter-spacing: 3px;
}

.comming-soon {
  background: #F20C1A;
  color: #000;
  padding: 5px;
  text-align: center;
}

.comming-soon-text {
  margin-left: 50px;
  font-size: 25px;
  font-weight: 600;
}

.chinese-text-container {
  display: flex;
  vertical-align: center;
  align-content: center;
  justify-content: space-around;
  background: #41E01F;
}

.animated-chinese-footer-text {
  animation: change-color 1s infinite steps(1); /* IE 10+ */
}

.animated-chinese-footer-text-green {
  animation: change-color-green 1s infinite steps(1); /* IE 10+ */
}

@keyframes change-color {
  0% {
    color: red;
  }
  50% {
    color: yellow;
  }
}

@keyframes change-color-green {
  0% {
    color: yellow;
  }
  50% {
    color: red;
  }
}

.chinese-text-children {
  display: flex;
  font-size: 25px;
}

/*repeat image*/
.pied-pier-footer-img {
  position: absolute;
  left: -399px;
  background: #41E01F;
  width: calc(100% + 400px);
  height: 115px;
  overflow-x: hidden;
}

.privacy-policy {
  display: inline-block;
  background: #40ca1f;
  padding-top: 5px;
  padding-left: 15px;
  padding-right: 30px;
}

.copyright-container {
  display: flex;
  justify-content: space-between;
  background: yellow;
  height: 80px;
}

.footer-pied-piper-name {
  background: #AE26A9;
  color: yellow;
  padding: 2px 5px;
}

.logo-text {
  margin-left: 35px;
  transform: rotate(0deg) translateX(1px) translateY(-3px) skewX(0deg) skewY(-10deg);
  font-size: 48px;
  font-weight: 600;
  color: #278C5E;
  text-shadow: -4px -4px 0px rgba(150, 150, 150, 1);
}

.piper-logo-text {
  margin-top: -20px;
  margin-left: 60px;
}

.sidebar-side-logo {

}

.sidebar-side-logo-image {
  position: absolute;
  left: -140px;
  top: 0;
  transform: scale(0.4);
  animation: invert-color 1s infinite steps(1);
}

.animated-chinese-sidebar-text .sidebar-side-logo-image {
  left: -120px;
  transform: scale(0.4) scaleX(-1);
}

.animated-chinese-sidebar-text-invert .sidebar-side-logo-image {
  left: inherit;
  margin-top: -40px;
  right: -150px;
}

@keyframes invert-color {
  0% {
  }
  50% {
    filter: invert(100%);
  }
}

.footer-image-piper-red {
  position: absolute;
  margin-top: -290px;
  background: #41E01F;
  transform: scale(0.16) scaleX(-1);
}

.footer-image-piper-green {
  position: absolute;
  background: yellow;
  margin-top: -290px;
  transform: scale(0.16);
}

.footer-image-piper {
  animation: footer-image-opacity infinite 1s steps(1);
}

.footer-image-piper-invert {
  animation: footer-image-opacity-invert infinite 1s steps(1);
}

@keyframes footer-image-opacity {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@keyframes footer-image-opacity-invert {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.big-piper {
  position: absolute;
  margin-top: -10px;
  right: 400px;
  margin-left: auto;
  margin-right: auto;
  transform: scale(.5);
}

.big-piper-animation {
  animation: footer-image-opacity infinite 1s steps(1);
}

.main-content-title {
  font-size: 70px;
  font-weight: 600;
  color: #BFBCBC;
  text-shadow: 1px 1px 40px #000;
  animation: gray-green 1s infinite steps(1);
}

.main-content-title-pied {
  position: absolute;
  margin-top: -60px;
  right: 800px;
}

.main-content-title-piper {
  position: absolute;
  right: 700px;
}

footer {
  background: yellow;
}

.footer-terms {
  padding-right: 50px;
}

.custom-code {
  display: flex;
  justify-content: space-around;
  margin-top: 150px;
  margin-bottom: 30px;
}